.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 15px;
    margin: 0;
    width: fit-content;
    text-align: left;
}

.title h1{
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    width: 390px;
}
.title-tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.description-tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.tools {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 100px;
    gap: 100px;
  }
  
  .tools-wrapper {
    display: flex;
    flex-shrink: 0;
    animation: scroll 35s linear infinite;
    gap: 100px;
  }
  
  /* Cuando pasas el mouse, pausa */
  .tools:hover .tools-wrapper {
    animation-play-state: paused;
  }
  
  /* Nuevo keyframes */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* 👈 solo movemos -50% porque tienes el contenido duplicado */
    }
  }
