.process{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-white);
    border-radius: 50px;
    width: 100%;
    border: 2px solid var(--color-black);
}

.process p{
    color: var(--color-black);
    font-weight: medium;
}

.process svg{
    color: var(--color-b500-wdark);
}