.experience-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 740px;
}

.experience-item p{
    padding: 0;
    margin: 0;
    letter-spacing: 0.4px;
}

.experience-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 50px;
    gap: 10px;
}


.experience-brand-name, .experience-job-title{
    font-weight: bold;
    color: var(--color-black);
}

.experience-job-description, .experience-date{
    font-size: 14px;
    color: var(--color-g600);
}

.experience-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 50px;
    gap: 10px;
    border-left: 2px solid var(--color-b300);
    height: 80px;
}

.experience-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.experience-job-description{
    text-align: left;
    width: 385px;
}