:root {
    /* Background color*/
    --color-background: #F2F2F2;
    
    /* 🎨 Primary Colors */
    --color-b200: #ACA8FA;
    --color-b300: #827DF8;
    --color-b400: #5951F5;
    --color-b500: #2F26F3;
    --color-b600: #261EC2;
    --color-b700: #1C1792;
    --color-b800: #130F61;
  
    /* ⚫ Neutral Colors */
    --color-white: #FFFFFF;
    --color-black: #0F0F15;
    --color-g300: #CFCFD0;
    --color-g400: #9F9FA1;
    --color-g500: #6F6F73;
    --color-g600: #3F3F44;
  
    /* 🟠 Semantic Colors */
    --color-danger: #FF6868;
    --color-success: #20C997;
    --color-warning: #FFA251;
  
    /* Tipografía */
    --font-primary: 'Inter', sans-serif;
  }
  