.profile-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.profile-card-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 50px 1px;
    border-radius: 0 50px 50px 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.profile-card-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url('../../../public/images/me-smiling-img.webp');
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 470px;
    padding: 20px 15px;
    border-radius: 50px;
    margin: 0;
}

.profile-card-content.about-me-card{
    background-image: url('../../../public/images/venice-img.webp');
}

.about-me-card .profile-card-content{
    width: 275px;
    height: 370px;
}

.about-me-card .profile-card-label{
    background-color: var(--color-black-toblue);
    color: var(--color-white-wdark);
}